#-----------------------------------------------------------------------
#
# Example configuration file for the dcmqrdb and dcmqrti applications.
#
#-----------------------------------------------------------------------

# Global Configuration Parameters
NetworkType     = "tcp"
NetworkTCPPort  = 104
MaxPDUSize      = 16384
MaxAssociations = 16
Display         = "no"

HostTable BEGIN
#
# The HostTable defines symbolic names for collections of network
# DICOM Application Entities.  A symbolic name can represent a single
# application entity or it can represent a group of application entities.
# Each DICOM application entity is defined by a triple consisting of 
# Application Entitiy Title, host name and TCP/IP port number.
#
# Entry Format: SymbolicName = ( AETitle, HostName, Portnumber ), ...   |
#               SymbolicName = SymbolicName, ...
#
# NOTE: in the current implementation you cannot substitute an IP address
# for a hostname.
#
findscu         = (FINDSCU, 127.0.0.1, 1041)
storescu        = (STORESCU, 127.0.0.1, 1042)
movescu         = (MOVESCU, 127.0.0.1, 2043)
scus            = findscu, storescu, movescu
# cdp             = (cdp, 127.0.0.1, 104)
#
HostTable END

VendorTable BEGIN
#
# The VendorTable is used by the dcmqrdb and dcmqrti applications.
# You can give a vendor name (r.h.s. entry below) to the dcmqrti 
# program and it will talk to all hosts and AEs of the vendor.
# The dcmqrdb program can use the vendor table to restrict move destination
# to hosts belonging to a vendor.
# Also, the dcmqrti and dcmqrdb programs use the name defined on the left hand side
# as the vendor name to display above images.
#
# The format: 
#       VendorName = SymbolicName
# The symbolic name should be defined in the HostTable.
#
"All SCUs"       = scus
# "CD/DVD Printer" = cdp
#
VendorTable END

AETable BEGIN
#
# Each row of the AETable defines an Application Entities (AE) Title known
# to the dcmqrdb application.  Each AE Title represents a separate
# image database located in the specified file system directory (storage area).
# Each AE Title has read/write, quota and peer access restrictions.
#
# Entry Format: AETitle  AutoPublish  StorageArea PaddingWidth PaddingChar  Access  Quota  Peers
# AutoPublish Format: STUDY | MANUAL
# Access Format: R | RW | W
# Quota Format: ( maxStudies, maxBytesPerStudy )
# Peers Format: ( Hostname, AETitle, Portnumber ), ...  |
#               Entry in HostTable                      |
#               ANY
#

# jp2k lossless
cdp       STUDY  1.2.840.10008.1.2.4.90 storedir 0	0 RW  (2, 1000mb) ANY
# jpeg lossless p14 sv1
cdpsv1    STUDY  1.2.840.10008.1.2.4.70 storedir 0  0 RW  (2, 1000mb) ANY
# keep original transfer syntax
cdpmanual MANUAL KEEP                   storemov 0  0 RW  (2, 1000mb) ANY
#
AETable END
